    html,
body {
    overflow-x: hidden;
}

.row {
    margin-right: 15px;
}

#welcome {
    height: 200px;
    width: 100%;
    border-radius: 5px;
}

#samples-button {
    border-color: blue;
    border-style: double;
    border-width: medium;
    color: cornflowerblue;
    background-color: yellow;
    margin-left: 70px;
    margin-right: 70px;
}

.deals {
    margin-top: 30px;
    font-family: 'Arima Madurai', cursive;
    font-size: 30px;
    color: cornflowerblue;
    -webkit-text-stroke: 1px slateblue;
    -ms-text-stroke: 1px slateblue;
    -moz-text-stroke: 1px slateblue;
    -o-text-stroke: 1px slateblue;
    text-stroke: 1px slateblue;
    border-bottom: 1px solid lightgray;
}

.deals-image {
    width: 70%;
    height: 30%;
    margin-top: 20px;
}

.deals-image2 {
    width: 70%;
    height: 34%;
    margin-top: 10px;
}

.address p {
    font-size: 30px;
    font-family: "Molle", cursive;
    -webkit-text-stroke: 1px lightgray;
    -ms-text-stroke: 1px lightgray;
    -moz-text-stroke: 1px lightgray;
    -o-text-stroke: 1px lightgray;
    text-stroke: 1px lightgray;
}
.address2 {
    color: yellow;
    border-radius: 10px;
    background-color: black;
    opacity: 0.3;
    font-size: 15px;
    font-family: sans-serif;
    width: 80%;
    height: 8%;
}
.address2 p {
    margin-top: 15px;
}
.employees {
    width: 80%;
    height: 35%;
    margin-top: 20px;
}
