#logo {
    height: 50px;
    width: 150px;
}
.row {
    margin-right: 15px;
}

#hide {
    position: absolute;
    top: 5px;
}

.navbar-default {
    background-color: blue;
}

#box1 {
    position: fixed;
    left: 0px;
    top: 52px;
    padding: 0px;
    width: 200px;
    height: 100%;
    background-color: #0d7bec;
    display: none;
    z-index: 1000;
}
#box1 a {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}
#phone {
    margin-top: 10px;
}

#phone a {
    color: cornflowerblue;
    text-decoration: none;
    background-color: whitesmoke;
    margin-left: 25px;
    margin-right: 25px;
}
#email {
    margin-top: 10px;
}

#email a {
    color: cornflowerblue;
    text-decoration: none;
    background-color: whitesmoke;
    margin-left: 5px;
    margin-right: 5px;
}